.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    align-items: center;

    .wrapper {
      color: #34a1eb;
      align-items: center;
      margin-top: 50px;
      justify-content: center;
      display: flex;

      .heading {
        align-items: center;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 190px;
      }

      .para {
        display: flex;
        color: black;
        margin-top: 200px;
        margin-left: -330px;
      }

      .button {
        position: absolute;
        margin-top: 300px;
        margin-left: -140px;
        background-color: #252a69;
        width: 10%;
        text-align: center;
        height: 27px;
        color: white;
        cursor: pointer;
      }

      .but {
        position: absolute;
        margin-top: 300px;
        margin-left: 200px;
        background-color: #252a69;
        width: 10%;
        text-align: center;
        height: 27px;
        color: white;
        cursor: pointer;
      }
    }
  }

  .right {
    flex: 0.5;

    .imgContainer {
      align-items: center;
      width: 550px;
      height: 550px;
      margin-top: 30px;

      img {
        width: 100%;
        height: 80%;
      }
    }
  }
}
